  .header {grid-area : 1/1/2/3; background-color:#FFEBCD}
  .menu {
    grid-area:2/1/3/2;
    font-family:Noto Sans KR;
    border-right:solid #A52A2A;
  }
  .contents {grid-area : 2/2/2/3;font-family:Noto Sans KR;}
  .info {grid-area :3/1/3/3; text-align:center;font-family:Roboto;}
  .grid-container {
      display : grid;
      grid-template-columns: 200px 4fr;
      grid-gap : 20px;
  }
  ul {
    list-style-type:none;
  }
  a {
    text-decoration:none;
    color: black;
  }
  h1 {
    /*title*/
    text-align :center;
    font : 300% bold;
    font-family: Comic Sans MS;
    padding: 15px; margin:15px;
  }
  pre {
    font-size:15px;
    font-family:Noto Sans KR;
    white-space: pre-wrap;
  }
  @media(max-width:800px) {
    .grid-container {
      display: block;
    }
    h1 {
      margin: 0px;
    }
    .menu {
      border-right: none
    }
  }
